*{
  box-sizing: border-box;
}


.box {
  background-color: lightgrey;
  width: 30%;
  height: 80%;
  border: 5px solid yellow;
  border-style:ridge;
  padding: 50px;
  margin: 20px;
  margin-left:6%;
  margin-top:1.7%;
  font-size:38px;
  line-height:70px
}

.boxAU {
  background-color: yellow;
  width: 50%;
  height: 80%;
  border: 5px solid yellow;
  border-style:ridge;
  padding: 50px;
  margin: 20px;
  margin-left:3%;
  margin-right:6%
  margin-top:5%;
  font-size:15px;
  line-height:70px
}
.boxleft {
  float:center; 
  background-color: lightgrey;
  width: 40%;
  height: 40%;
  border: 5px solid yellow;
  border-style:ridge;
  padding: 50px;
  margin: 11px;
  margin-left:2%;
  margin-top:1.7%;
  font-size:38px;
  line-height:70px
}
.boxcontent {
  text-align:center; 
  background-color: yellow;
  width: 50%;
  height: 20%;
  border: 5px black;
  border-style:ridge;
  padding: 20px;
  margin: 11px;
  margin-left:2%;
  margin-top:1.7%;
  font-size:40px;
  line-height:40px
}
.box a:hover{
	background-color:gray;
	}

.tablebox {
	border: 25px solid gray;
	margin-left:70%;
	margin-right:40%;
	height:91%;
  	/*opacity: 0.7;
  	filter: alpha(opacity=70);*/
	padding:20px;
}

.header {
	padding: 10px;
  	width:100%;
  	height:25%;
	line-height:20px;
 	text-align: center;
	background: #FFD700;
	}

.header h1 {
	margin-top:20px;
	font-size: 30px;
	float:left;
	margin-left:50px;
	}
.fontsize {
	font-size:12px;
	}

.margin2{
	margin-left:20px;
	
	}
.margin3{
	margin-top:20px;
	
	}
.col-md-4 {
    width: 33.33333333%;
  }
.col-xs-12 {
  width: 100%;
}
/*style top navigation bar*/
.topnav {
	overflow: hidden;
	height:80%;
	width:100%;
	
	}

/*style top navigation links*/
.topnav a {
	float: right;
 	display: block;
	color: black;
	text-align: center;
	padding: 0px 25px;
	font-size:20px;
	text-decoration: none;
	font-weight: bold;
}
.navleft {
	float: left;
	width:160px;
	margin:20px;
	background-color:#ff00ff;
 	display: block;
	color: black;
	text-align: center;
	padding: 1px 25px;
	font-size:20px;
	text-decoration:underline;
	font-weight: bold;	
	
	
}

/* Left column of home page include packages inside this*/
.leftcolumn {   

	float: left;
	width: 75%;
}

/* Right column of home page */
.rightcolumn {
 	float: right;
	margin-top:0px;
 	width: 50%;
	height:100%;
	
	
}

.container{
	height:70%;
	width:100%;
	
}

.background{
	background: url(../backgrounds/conus1.jpg);
	height:100%;
	width:100%;
	/*background-repeat: no-repeat;*/
  }

  .background2{
	background: url(./backgrounds/conus2.jpg);
	height:100%;
	width:100%;
	/*background-repeat: no-repeat;*/
  }
.container h1{
	margin-left:5px;
	color:#333333;
}

.transbox{
	
  	background-color: #FFD700;
	border: 25px solid gray;
	margin-left:70%;
	margin-right:40%;
	height:91%;
  	/*opacity: 0.7;
  	filter: alpha(opacity=70);*/
	padding:20px;
	
}

.transbox  p{
	font-size:24px;
	text-align: center;
	font-weight: bold;
	line-spacing: 10px;
	font-color:black;
}

.ex1 {
	margin-left:20px;
	margin: 10px;
	outline: 3px dashed ;
	outline-color:#806000;
	outline-offset: 15px;
  	width:200px;
 	font-size:20;
  	text-align: center;
  	color:#000066;
}


.footer {
	float:left;
	height:30%;
	width:100%;
  	text-align: center;
  	background: black;
	color:white;
  	
  	
}
.footer ul li{
	list-style-type: none;
	overflow: hidden;
	float: left;
	padding:20px;
}
span .icon{
	float:right;
}

.td1 {
	font-family: sans-serif;
	font-size: 16px;
	color: #0d52a5;
	font-weight: bolder;
}

.td2 {
	font-family: sans-serif;
	font-size: 14px;
	color: #2b2b2b;
	font-weight: bolder;
}

.h {
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
	color: #0d52a5;
	font-weight: bolder;
}

.vision{
	background: url(./background/cabss.png);
	height:30%;
	width:100%;
	/*background-repeat: no-repeat;*/
  }
.aboutimg{
	background: url(./background/cabss.png);
	height:100%;
	width:100%;
	/*background-repeat: no-repeat;*/
  }


}