.header {
	padding: 10px;
  	width:100%;
  	height:25%;
	line-height:20px;
 	text-align: center;
	background:white;
	}

.header h1 {
	margin-top:20px;
	font-size: 30px;
	float:right;
	margin-left:50px;
	}
/*style top navigation bar*/
.topnav {
	overflow: hidden;
	height:80%;
	width:100%;
	
	}

/*style top navigation links*/
.topnav a {
	float: right;
 	display: block;
	color: black;
	text-align: center;
	padding: 0px 25px;
	font-size:20px;
	text-decoration: none;
	font-weight: bold;
	
}

.background{
	background: url(../backgrounds/safe3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  }

.transbox{
	
  	background-color: #FFD700;
	border: 15px solid gray;
	margin-left:60%;
	margin-right:10%;
	height:85%;
  	/*opacity: 0.7;
  	filter: alpha(opacity=70);*/
	padding:20px;
	
}


input[placeholder=Name]{
	width: 80%;
	height:5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color: yellow;
	background-image: url(../reg/signin3.png);
	background-size: 30px 30px;
	background-position: 10px 5px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;
}


input[placeholder=Email]{
	width: 80%;
	height:5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	/*outline: 4px solid red;
	outline-offset: 15px;*/
	font-size: 16px;
	background-color: yellow;
	background-image: url(../reg/email.png);
	background-size: 30px 30px;
	background-position: 10px 5px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;
}

input[type=tel]{
	width: 80%;
	height:5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color: yellow;
	background-image: url(../reg/tel3.png);
	background-size: 30px 30px;
	background-position:10px 5px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;	
}

input[list=vehicles]{
	width: 60%;
	height:5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color: yellow;
	background-image: url(../reg/vehicle.png);
	background-size: 50px 50px;
	background-position: 4px 1px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;
}

input[placeholder="Vehicle No"]{
	width: 60%;
	height:5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color: yellow;
	background-image: url(../reg/vehicle.png);
	background-size: 50px 50px;
	background-position: 4px 1px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;	
}

input[type=num]{
	width: 70%;
	height:5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color: yellow;
	background-image: url(../reg/id.png);
	background-size: 30px 30px;
	background-position: 10px 5px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;
}

input[type=password]{
	width: 80%;
	height:5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color: yellow;
	background-image: url(../reg/signin2.png);
	background-size: 30px 30px;
	background-position: 10px 5px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;
}

input[type=submit]{
	
	width: 50%;
	height:5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color:#A4A4A4;
	padding: 20px 30px 30px 20px;
	font-weight:bold;
}


.footer {
	float:left;
	height:30%;
	width:100%;
  	text-align: center;
  	background: light blue;
	color:black;
  	
  	
}
.footer ul li{
	list-style-type: none;
	overflow: hidden;
	float: left;
	padding:20px;
}