.header {
	padding: 10px;
  	width:100%;
  	height:25%;
	line-height:20px;
 	text-align: center;
	background:white;
	}

.header h1 {
	margin-top:20px;
	font-size: 30px;
	float:right;
	margin-left:50px;
	}
/*style top navigation bar*/
.topnav {
	overflow: hidden;
	height:80%;
	width:100%;
	
	}

/*style top navigation links*/
.topnav a {
	float: right;
 	display: block;
	color: black;
	text-align: center;
	padding: 0px 25px;
	font-size:20px;
	text-decoration: none;
	font-weight: bold;
	
}

.background{
	background: ;
	background-repeat: no-repeat;
	background-size:cover;
	background-size: 1000px 700px;
  }

.transbox{
	
  	background-color: #FFD700;
	border: 15px solid gray;
	margin-left:30%;
	margin-right:30%;
	height:85%;
  	/*opacity: 0.7;
  	filter: alpha(opacity=70);*/
	padding:20px;
	
}

.footer {
	float:left;
	height:30%;
	width:100%;
  	text-align: center;
  	background: light blue;
	color:black;
  	
  	
}
.footer ul li{
	list-style-type: none;
	overflow: hidden;
	float: left;
	padding:20px;
}