.header {
	padding: 10px;
  	width:100%;
  	height:25%;
	line-height:20px;
 	text-align: center;
	background:white;
	}

.header h1 {
	margin-top:20px;
	font-size: 30px;
	float:right;
	margin-left:50px;
	}
/*style top navigation bar*/
.topnav {
	overflow: hidden;
	height:80%;
	width:100%;
	
	}

/*style top navigation links*/
.topnav a {
	float: right;
 	display: block;
	color: black;
	text-align: center;
	padding: 0px 25px;
	font-size:20px;
	text-decoration: none;
	font-weight: bold;
	
}

.background{
	background: url(../backgrounds/reg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  }

.transbox{
	
  	background-color: #FFD700;
	border: 15px solid gray;
	margin-left:60%;
	margin-right:10%;
	height:85%;
  	/*opacity: 0.9;
  	filter: alpha(opacity=90);*/
	padding:20px;
	
}


input[type=text]{
	width: 90%;
	height:10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-color:black;
	font-size: 16px;
	background-color: yellow;
	
	background-size: 30px 30px;
	background-position: 10px 5px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;
}


input[type=email]{
	width: 90%;
	height:10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	/*outline: 4px solid red;
	outline-offset: 15px;*/
	font-size: 16px;
	background-color: yellow;
	/*background-image: url(../reg/email.png);*/
	background-size: 30px 30px;
	background-position: 10px 5px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;
}







input[type=password]{
	width: 90%;
	height:10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color: yellow;
	/*background-image: url(../reg/signin2.png);*/
	background-size: 30px 30px;
	background-position: 10px 5px; 
	background-repeat: no-repeat;
	padding: 20px 30px 20px 60px;
}

input[type=submit]{
	
	width: 120px;
	height:10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color:#A4A4A4;
	padding: 20px 30px 30px 20px;
	font-weight:bold;
}

input[type=reset]{
	
	width: 120px;
	height:10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-color:#A4A4A4;
	padding: 20px 30px 30px 20px;
	font-weight:bold;
}

.footer {
	float:left;
	height:30%;
	width:100%;
  	text-align: center;
  	background: light blue;
	color:black;
  	
  	
}
.footer ul li{
	list-style-type: none;
	overflow: hidden;
	float: left;
	padding:20px;
}

.background2{
	background: url(../backgrounds/reg2.jpg);
	background-repeat: no-repeat;
	background-size: 1500px 1000px;
  }

.transbox2{
	
  	background-color: #FFD700;
	border: 15px solid gray;
	margin-left:65%;
	margin-right:5%;
	height:65%;
  	opacity: 0.9;
  	filter: alpha(opacity=90);
	padding:20px;
	
}